
.vs/SSO/v16/Server/sqlite3/db.lock
.vs/SSO/v16/Server/sqlite3/storage.ide
.vs/SSO/v16/Server/sqlite3/storage.ide-shm
.vs/SSO/v16/Server/sqlite3/storage.ide-wal
.vs/SSO/v16/.suo
.vs/SSO/config/applicationhost.config
SSO.Core/bin/Debug/netcoreapp3.0/appsettings.Development.json
SSO.Core/bin/Debug/netcoreapp3.0/appsettings.json
SSO.Core/bin/Debug/netcoreapp3.0/IdentityModel.dll
SSO.Core/bin/Debug/netcoreapp3.0/IdentityServer4.dll
SSO.Core/bin/Debug/netcoreapp3.0/IdentityServer4.Storage.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.Data.SqlClient.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.Identity.Client.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.JsonWebTokens.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Logging.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SSO.Core/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Tokens.dll
SSO.Core/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
SSO.Core/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SSO.Core/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.deps.json
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.dll
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.exe
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.pdb
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.runtimeconfig.dev.json
SSO.Core/bin/Debug/netcoreapp3.0/SSO.Core.runtimeconfig.json
SSO.Core/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
SSO.Core/bin/Debug/netcoreapp3.0/System.IdentityModel.Tokens.Jwt.dll
SSO.Core/bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
SSO.Core/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
SSO.Core/Migrations/20191027020550_initial.cs
SSO.Core/Migrations/20191027020550_initial.Designer.cs
SSO.Core/Migrations/20191027093300_client.cs
SSO.Core/Migrations/20191027093300_client.Designer.cs
SSO.Core/Migrations/20191027095030_claims-and-identity.resource.cs
SSO.Core/Migrations/20191027095030_claims-and-identity.resource.Designer.cs
SSO.Core/Migrations/20191027095153_dbset-for-new-table.cs
SSO.Core/Migrations/20191027095153_dbset-for-new-table.Designer.cs
SSO.Core/Migrations/20191027100228_data-type-constraints.cs
SSO.Core/Migrations/20191027100228_data-type-constraints.Designer.cs
SSO.Core/Migrations/20191027114659_add-all-config.cs
SSO.Core/Migrations/20191027114659_add-all-config.Designer.cs
SSO.Core/Migrations/20191027121211_persistent-tables.cs
SSO.Core/Migrations/20191027121211_persistent-tables.Designer.cs
SSO.Core/Migrations/20191027123455_add-some-data.cs
SSO.Core/Migrations/20191027123455_add-some-data.Designer.cs
SSO.Core/Migrations/20191027123552_update-data.cs
SSO.Core/Migrations/20191027123552_update-data.Designer.cs
SSO.Core/Migrations/SSOIdentityServerContextModelSnapshot.cs
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.AssemblyInfo.cs
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.AssemblyInfoInputs.cache
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.assets.cache
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.csproj.CopyComplete
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.csproj.FileListAbsolute.txt
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.csprojAssemblyReference.cache
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.dll
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.exe
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.MvcApplicationPartsAssemblyInfo.cache
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.pdb
SSO.Core/obj/Debug/netcoreapp3.0/SSO.Core.RazorTargetAssemblyInfo.cache
SSO.Core/obj/Debug/netcoreapp3.0/staticwebassets/SSO.Core.StaticWebAssets.Manifest.cache
SSO.Core/obj/Debug/netcoreapp3.0/staticwebassets/SSO.Core.StaticWebAssets.xml
.vs/SSO/DesignTimeBuild/.dtbcache
/SSO.Core/bin/Debug/netcoreapp3.0
/SSO.IRepository/bin/Debug/netcoreapp3.0
/SSO.IService/bin/Debug/netcoreapp3.0
/SSO.Repository/bin/Debug/netcoreapp3.0
/SSO.Service/bin/Debug/netcoreapp3.0
